.setting{
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    box-shadow: 0 8px 20px 0 rgba(70, 86, 132, 0.1);
    background-color: #fff;

    @media only screen and (max-width: 900px){
        width: 354px;
    }

    @media only screen and (max-width: 500px){
        width: 280px;
    }

    &-title{
        padding-left: 56px;
        padding-right: 56px;
        padding-top: 36px;        
        padding-bottom: 37px;
        cursor: pointer;
        font-family: 'Rubik';
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #1d2249;
        background-repeat: no-repeat;
        background-position: right 53px top 43px;

        @include user-select(none);
        @include image-set("/static/images/dropDownArrow_big", "png");

        @media only screen and (max-width: 900px){
            font-size: 15px;
            line-height: 1.6;
            padding-left: 37px;
            padding-right: 37px;
            padding-top: 19px;        
            padding-bottom: 19px;
            background-position: right 37px top 28px;

            @include image-set("/static/images/dropDownArrow", "png");
        }

        @media only screen and (max-width: 500px){
            padding-left: 20px;
            padding-right: 20px;
            background-position: right 21px top 28px;
        }
    }

    &-form{
        display: none;
        margin-top: 7px;

        @media only screen and (max-width: 900px){
            margin-top: 4px;
        }

        &-field{
            margin-left: auto;
            margin-right: auto;

            &:first-child{
                margin-top: 0px;
            }

            @media only screen and (max-width: 900px){
                width: 280px;
            }

            @media only screen and (max-width: 500px){
                width: 240px;
            }
        }

        &-submit{
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            width: 190px;

            @media only screen and (max-width: 900px){
                margin-top: 30px;
            }
        }
    }

    &._open{
        padding-bottom: 40px;

        @media only screen and (max-width: 900px){
            padding-bottom: 30px;
        }

        .setting{
            &-title{
                @include image-set("/static/images/dropUpArrow_big", "png");
                padding-bottom: 20px;

                @media only screen and (max-width: 900px){
                    padding-bottom: 4px;

                    @include image-set("/static/images/dropUpArrow", "png");
                }
            }

            &-form{
                display: block;
            }
        }
    }
}