{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "test": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "CoinHive": true
  },
  "rules": {
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
