@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-LightItalic.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-Medium.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-Medium.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-Medium.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-MediumItalic.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-Regular.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-Regular.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-Regular.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-Black.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-Black.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-Black.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-BlackItalic.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-Bold.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-Bold.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-Bold.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-BoldItalic.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-Italic.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-Italic.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-Italic.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('/static/fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/Rubik-Light.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/Rubik-Light.woff2')  format('woff2'); /* Safari, Android, iOS */
    font-weight: 200;
    font-style: normal;
}