.content._loginPage{
    padding-bottom: 151px;

    @media only screen and (max-width: 650px){
        padding-bottom: 49px;
    }

    .content{
        &-loginForm{
            margin-top: 45px;

            @media only screen and (max-width: 1100px){
                margin-top: 31px;
            }
        }
    }
}
