.miningOnAnyDeviceAdvert{
    padding-top: 117px;
    padding-bottom: 234px;
    background-position: left 12px;
    background-repeat: no-repeat;

    @include image-set("/static/images/miningOnAnyDeviceAdvert_background", "png");

    @media only screen and (max-width: 1150px){
        background-size: 54%;
        padding-top: 38px;
        background-position: -250px -150px;
        padding-bottom: 180px;
    }

    @media only screen and (max-width: 1100px){
        background-position: -250px -125px;
        padding-bottom: 150px;
    }

    @media only screen and (max-width: 1050px){
        background-position: -200px -100px;
        padding-bottom: 150px;
    }

    @media only screen and (max-width: 1000px){
        background-position: -200px -100px;
        padding-bottom: 110px;
    }

    @media only screen and (max-width: 950px){
        background-position: -200px -100px;
        padding-bottom: 105px;
    }

    @media only screen and (max-width: 900px){
        background-position: -200px -25px;
        padding-bottom: 103px;
    }

    @media only screen and (max-width: 800px){
        background-position: -110px -25px;
        padding-bottom: 103px;
    }

    @media only screen and (max-width: 700px){
        background-position: -65px -3px;
    }

    @media only screen and (max-width: 600px){
        background-position: -44px 21px;
    }

    @media only screen and (max-width: 500px){
        background-position: 0px 174px;
        background-size: 300px;
        padding-top: 16px;
        padding-bottom: 101px;
    }

    @media only screen and (max-width: 400px){
        background-position: 0px 200px;
        background-size: 300px;
        padding-top: 16px;
    }

    @media only screen and (max-width: 320px){
        background-position: 0px 229px;
        background-size: 300px;
        padding-top: 17px;
    }

    &-title{
        text-align: center;
        @extend %title;

        @media only screen and (max-width: 500px){
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &-description{
        text-align: center;
        margin-top: 44px;
        @extend %text;

        @media only screen and (max-width: 1150px){
            margin-top: 28px;
        }

        @media only screen and (max-width: 500px){
            margin-top: 29px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &-tagline{
        text-align: center;
        font-family: 'Rubik';
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #1d2249;
        margin-top: 71px;

        @media only screen and (max-width: 1150px){
            font-size: 15px;
            line-height: 1.6;
            margin-top: 38px;
        }

        @media only screen and (max-width: 500px){
            margin-top: 42px;
        }
    }

    &-more{        
        margin: auto;
        margin-top: 30px;

        @extend %more;

        @media only screen and (max-width: 1150px){
            width: 208px;
            margin-top: 16px;
        }
    }

    &-devicesList{        
        margin-top: 50px;

        @media only screen and (max-width: 1150px){
            margin-top: 30px;
        }

        @media only screen and (max-width: 500px){
            margin-top: 32px;
        }
    }
}

.devicesList{
    padding-left: 170px;
    padding-right: 170px;

    @media only screen and (max-width: 1150px){
        padding-left: 100px;
        padding-right: 100px;
    }

    @media only screen and (max-width: 900px){
        padding-left: 36px;
        padding-right: 36px;
    }

    @media only screen and (max-width: 500px){
        padding-left: 30px;
        padding-right: 30px;
    }

    &-title{
        font-family: 'Rubik';
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #1d2249;

        @media only screen and (max-width: 1150px){
            font-size: 15px;
            line-height: 1.6;
        }
    }

    &-list{
        margin-top: 33px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media only screen and (max-width: 1150px){
            margin-top: 9px;
        }

        @media only screen and (max-width: 500px){
            flex-wrap: wrap;
            margin-top: 29px;
        }

        &-item{
            height: 224px;
            width: 215px;
            padding-top: 196px;
            text-align: center;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 1.56;
            color: #2e2e39;

            @media only screen and (max-width: 1150px){
                width: 150px;
                height: 140px;
                font-size: 15px;
                line-height: 1.6;
                padding-top: 140px - 24px;
            }

            @media only screen and (max-width: 500px){
                height: 146px;
                padding-top: 119px;
                line-height: normal;
            }

            &._computer{
                @include image-set("/static/images/devicesList-list-item_computer", "png");
                background-position: center 0px;
                background-repeat: no-repeat;

                @media only screen and (max-width: 1150px){
                    background-size: (96px / 115px) * 100%;
                    width: 115px;
                }

                @media only screen and (max-width: 500px){
                    background-size: 96px;
                    width: (100px / 260px) * 100%;
                }
            }

            &._phone{
                @include image-set("/static/images/devicesList-list-item_phone", "png");
                background-position: center 82px;
                background-repeat: no-repeat;

                @media only screen and (max-width: 1150px){
                    background-position: center 47px;
                    background-size: (88px / 88px) * 100%;
                    width: 88px;
                }

                @media only screen and (max-width: 500px){
                    background-size: 88px;
                    width: (100px / 260px) * 100%;
                }
            }

            &._tablet{
                @include image-set("/static/images/devicesList-list-item_tablet", "png");
                background-position: center 64px;
                background-repeat: no-repeat;

                @media only screen and (max-width: 1150px){
                    background-position: center 42px;
                    background-size: (100px / 100px) * 100%;
                    width: 100px;
                }

                @media only screen and (max-width: 500px){
                    background-size: 100px;
                    width: (100px / 260px) * 100%;
                }
            }

            &._console{
                @include image-set("/static/images/devicesList-list-item_console", "png");
                background-position: center 59px;
                background-repeat: no-repeat;

                @media only screen and (max-width: 1150px){
                    background-position: center 37px;
                    background-size: (100px / 150px) * 100%;
                    width: 150px;
                }

                @media only screen and (max-width: 500px){
                    background-size: 100px;
                    width: (100px / 260px) * 100%;
                }
            }
        }
    }
}